.header-container {
  display: flex;
  justify-content: space-between;
}

input[type="text"] {
  font-size: small;
}
.content-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.fields {
  background-color: aliceblue;
  width: 20rem;
}
.labels {
  font-size: small !important;
}
.existing-fields {
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}
.buttons > button {
  font-size: small !important;
  font-weight: lighter !important;
}
